root = true
version = 2

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 88
tab_width = 4
trim_trailing_whitespace = true

# Indentation style for yaml
[*.{yml,yaml,json,toml}]
indent_style = space
indent_size = 2
quote_type = double

# Indentation style for python
[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size= 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
